<h1>This blog is a blog!</h1>
<% if current_user %>
<% @posts.each do |post| %>

  <h3> <%= post.title %> </h3>
  <br>
	<h4> User: <a href="/users/<%= post.user.id %>"> <%= post.user.username %> </a> </h4>
  <br>
  <p><%= post.content%></p>
  <br>
  <br>
<% end %>
<% else %>
	<h1>You are not logged in</h1>
<% end %>
