<h1>This blog is a blog!</h1>
<% if current_user %>
<% @posts.each do |post| %>

  <h3> <%= post.title %>  </h3>
  <em> User: <%= post.username %> </em> <br>
  <%= post.content%> <br><br>


  <a href="/posts/<%= post.id %>">Read more</a>


  <br>
<% end %>
<% else %>
	<h1>You are not logged in</h1>
<% end %>
