hr {
	width: 60%;
}

/* Layout */
.container-main {
	margin: 0 auto;
	width: 1000px;
}

.navbar navbar-default {
	width: 100%;
}

/* Index */
.front-page {
	text-align: center;

}

.front-page button {
	margin: 8px;
	width: 125px;
}

.front-page button a {
	color: white;
}

.front-page-post-container {
	text-align: center;
}

.front-page-posts {
	margin: 0 auto;
	margin-bottom: 10px;
	border: 1px solid lightgrey;
	border-radius: 8px;
	width: 550px;
	padding: 5px;
}

.front-page-posts a {
	text-decoration: none;
}

.front-page-posts a:hover {
	text-decoration: underline;
}

/* Profile Page */
.profile-page {

}

.profile-photo {
	text-align: center;
	margin: 5px;
}

.profile-page-info {
	padding: 5px;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 8px;
}

.profile-page-content {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 10px;
	border: 1px solid lightgrey;
	border-radius: 8px;
	width: 400px;
	padding: 5px;
}

/* Login */
.login {
	width: 100%;
	margin: 0 auto;
	margin-top: 110px;
}

.container {
	width: 45%;
	text-align: center;
}

.pull-right {
	margin-top: 9px;
}

.container h3 {
	margin-bottom: 15px;
}

.container input {
	margin-bottom: 5px;
}

.profile-img {
	margin: 7px;
}

/* New post & Edit post */
.new-post {
	width: 100%;
	border: 1px solid lightgrey;
	padding: 20px;
	border-radius: 8px;
}

.post-form {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.post-form h1 {
	padding: 0;
	margin-top: 0;
	margin-bottom: 20px;
}

.post-content {
	font-size: 16px;
	padding: 10px;
	height: 100px;
	width: 500px;
	resize: none;
	border-radius: 8px;
	border: 1px solid lightgrey;
}

.post-title {
	padding: 8px;
	font-size: 16px;
	width: 500px;
	height: 40px;
	border-radius: 8px;
	resize: none;
	border: 1px solid lightgrey;
}

.btn-post {
	width: 300px;
}

.btn-edit {
	width: 150px;
	margin-right: 5px;
	margin-left: 5px;
}
