hr {
	width: 60%;
}

.container-main {
	margin: 0 auto;
	width: 1000px;
}

.navbar navbar-default {
	width: 100%;
}

.front-page {
	text-align: center;
	
}

.front-page button {
	margin: 8px;
	width: 125px;
}

.front-page button a {
	color: white;
}

.front-page-post-container {
	text-align: center;
}

.front-page-posts {
	margin: 0 auto;
	margin-bottom: 10px;
	border: 1px solid black;
	width: 550px;
	padding: 5px;
}

.front-page-posts a {
	text-decoration: none;
}

.front-page-posts a:hover {
	text-decoration: underline;
}

.profile-page {

}

.profile-photo {
	text-align: center;
	margin: 5px;
}

.profile-page-info {
	padding: 5px;
	width: 100%;
	border: 1px solid black;
}

.profile-page-content {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 10px;
	border: 1px solid black;
	width: 400px;
	padding: 5px;
}

.login {
	width: 100%;
	margin: 0 auto;
}

.container {
	width: 45%;
	text-align: center;
}

.pull-right {
	margin-top: 9px;
}

.container input {
	margin-bottom: 5px;
}

.profile-img {
	margin: 7px;
}
