<form action="/login" method="post">
  Username
  <input type="text" name="user[username]" autofocus><br>
  Password
  <input type="password" name="user[password]"><br>
  <input type="submit">
</form>
