<form action="/signup" method="post">
  Email
  <input type="text" name="user[email]" autofocus><br><br>
  Username
  <input type="text" name="user[username]"><br><br>
  Password
  <input type="text" name="user[password]"><br><br>
  <input type="submit">
</form>
