<div class="new-post">

  <div class="post-form">
    <h1>Create New Post</h1>

    <form action="/posts" method="post">

      <label><b>Title:</b></label><br>
      <textarea name="post[title]" class="post-title"> </textarea>
      <br><br>

      <label><b>Content:</b></label><br>
      <textarea name="post[content]" maxlength="150" class="post-content"></textarea>
      <br><br>

      <input class="btn btn-lg btn-primary btn-edit" type="submit" name="" value="Submit">

    </form>
  </div>

</div>
