<h1>Create New Post</h1>

<form action="/posts" method="post">

  <label><b>Title:</b></label><br>
  <input type="text" name="post[title]">
  <br><br>

  <label><b>Content:</b></label><br>
  <textarea name="post[content]" rows="16" cols="70" maxlength="150"></textarea>
  <br><br>

  <label><b>Username:</b></label><br>
  <input type="text" name="post[username]">
  <br><br>

  <input type="submit" name="" value="Post">

</form>
